*.pyc
yolov5/runs/detect/*
temp_saver/*/*.png
temp_saver/*/*/*/*.png
temp_saver/*/*/*.json
temp_saver/*/*/*.png
temp_saver/*/*.json
weights/*.pt
weights/*.h5
weights/*.pth
build/*
dist/*
anti_celiac/yolov5/runs/*
